[submodule "scanner/DNSINFO"]
	path = scanner/DNSINFO
	url = https://github.com/0x-Jin/DNSINFO.git
[submodule "scanner/weakfilescan"]
	path = scanner/weakfilescan
	url = https://github.com/ring04h/weakfilescan.git
